*{
    box-sizing: border-box;
    margin: 0px;
}
body{
    display: flex;
    flex-direction: column;
    height: 100vh;

    
    font-family: system-ui, Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main-header,
.main-footer,
.section-header{
    padding-left: 192px;
    padding-right: 192px;
    height: min-content;
}
.main-header, .main-footer{
    background-color: #1F2937;
}
.main-section{ 
    background-color: #FFFFFF;
}

/* 
    Header: #1F2937
    section 2: #FFFFFF
    section 3: #E5E7EB
    CTA: #3B82F6
*/

/* header */
.main-header{
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-top: 16px;
    padding-bottom: 16px;
}
.logo{
    font-size: 24px;
    color: white;
}

.header-ul-links{
    display: flex;
    gap: 16px;

    list-style: none;
}
.header-li-link{
    color: white;
    text-decoration: none;
}


.section-header{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    padding-top: 80px;
    padding-bottom: 80px;
}
.section-content{
    width: 50%;
}
.section-content-title{
    font-size: 200px;
}

.section-img-container{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 529px;
    height: 256px;

    background-color: gray;
    color: white;
}
/* header */


/* section */

.section-header{
    background-color: #1F2937;
}
.section{
    padding-top: 42px;
    padding-bottom:144px;
}
.section-bg-gray{

    padding-left: 15%;
    padding: 15%;
    background-color: #E5E7EB;
}


.quote{
    font-size: 35px;
    font-style: italic;
    font-weight: lighter;
}
.cite{
    font-weight: bolder;
    text-align: end;
}


.cta{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    width: 80%;
    height: 200px;

    margin: auto    ;

    padding-left: 120px;
    padding-right: 120px;

    border-radius: 15px;
    background-color: #3B82F6;
}
.cta-text  {
    font-size: 27px;
}
/* section */



/* footer */
.main-footer{
    display: flex;
    align-items: center;
    justify-content: center;


    min-height: 100px;
    background-color: #1F2937;
}
/* footer */


/* buttons */
.btn{
    display: inline-block;

    background-color: #3B82F6;
    color: white;

    font-size: 16px;

    width: 160px;
    padding: 8px 32px;
    margin-top: 1rem;
    margin-bottom: 1rem;

    border: none;
    border-radius: 8px;
}
.btn-border{
    border: 2px solid white;
}
/* buttons */


/* fonts */
.title-light,
.text-light{
    color: white;
}
.title-centered{
    text-align: center;
}
.title{
    font-size: 32px;
}
.text{
    font-size: 16px;
}

/* fonts */


/* Card */
.card-container{
    display: flex;
    margin-top:  1rem;
    justify-content: center;
    gap: 16px;
}
.card{
    display: inherit;
    flex-flow: column wrap;
    align-items: center;
    width: 170px;

}
.card-info{
    text-align: center;
}
.card-image{
    height: 170px;
    width: 170px;
    margin-bottom: 1rem;


    border: 4px solid #3B82F6;
    border-radius: 16px;
}


/* Card */